[submodule "external/DirectX-Headers"]
	path = external/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "external/assimp"]
	path = external/assimp
	url = git@github.com:assimp/assimp.git
